.label {
  display: inline-block;
  margin-bottom: .5rem;
}

.form-group {
  margin-bottom: 1rem;
  display: flex;
  justify-content: space-between
}

.numbers-container {
  display: flex;
  width: 90%;
  justify-content: flex-start;

  .number-item {
    width: 30%;
  }
}
