<section [formGroup]="form">
  <div class="form-group">
    <label class="label" for="name">Nombre: </label>
    <input formControlName="name" nbInput fullWidth="true" type="text"/>
  </div>
  <div class="form-group">
    <label class="label" for="email">Correo electrónico: </label>
    <div [nbSpinner]="form.get('email').pending" nbSpinnerStatus="warning">
      <input  formControlName="email" nbInput fullWidth="true" type="email"/>
    </div>
    <p style="color: red" *ngIf="form.controls['email'].errors?.emailRegisteredWithoutDependency">
      El correo ya está registrado
    </p>
  </div>
  <div class="form-group">
    <label class="label" for="password">Contraseña: </label>
    <input formControlName="password" nbInput fullWidth="true" type="password"/>
  </div>
  <div class="form-group">
    <label class="label" for="confirmPassword">Confirmar contraseña: </label>
    <input formControlName="confirmPassword" nbInput fullWidth="true" type="password"/>
  </div>

  <div class="form-group datepicker-group">
    <div class="datepicker-container">
      <label class="label" for="spam">Fecha inicio: </label>
      <input fullWidth="true" formControlName="from" nbInput [nbDatepicker]="from" >
      <nb-datepicker #from></nb-datepicker>
    </div>

    <div class="datepicker-container">
      <label class="label" for="spam">Fecha fin: </label>
      <input fullWidth="true" formControlName="to" nbInput [nbDatepicker]="to" >
      <nb-datepicker #to></nb-datepicker>
    </div>
  </div>

  <div class="form-group">
    <nb-checkbox formControlName="hasPhones" name="hasPhones" status="danger">Añadir números de teléfono.</nb-checkbox>
  </div>

</section>
