<section>
  <div class="form-group">
    <label class="label" for="name">Nombre: </label>
    <input nbInput fullWidth="true" type="text"/>
  </div>
  <div class="form-group">
    <label class="label" for="email">Correo electrónico: </label>
    <input nbInput fullWidth="true" type="email"/>
  </div>
  <div class="form-group">
    <label class="label" for="password">Contraseña: </label>
    <input nbInput fullWidth="true" type="text"/>
  </div>
  <div class="form-group">
    <label class="label" for="confirmPassword">Confirmar contraseña: </label>
    <input nbInput fullWidth="true" type="text"/>
  </div>

  <div class="form-group datepicker-group">
    <div class="datepicker-container">
      <label class="label" for="spam">Fecha inicio: </label>
      <input fullWidth="true" nbInput [nbDatepicker]="from">
      <nb-datepicker #from></nb-datepicker>
    </div>

    <div class="datepicker-container">
      <label class="label" for="spam">Fecha fin: </label>
      <input fullWidth="true" nbInput [nbDatepicker]="to" >
      <nb-datepicker #to></nb-datepicker>
    </div>
  </div>

  <div class="form-group">
    <nb-checkbox status="danger">Añadir números de teléfono.</nb-checkbox>
  </div>

</section>
