<section [formGroup]="form">
  <div class="form-group">
    <label class="label" for="spam">Selecciona una opción: </label>
    <nb-radio-group formControlName="options" status="info">
      <nb-radio [value]="true">Quiero recibir spam!!</nb-radio>
      <nb-radio [value]="false">No me evieis mierda pls.</nb-radio>
    </nb-radio-group>
  </div>

  <div class="form-group" style="width:25%">
    <label class="label" for="conditions">¿Aceptas los terminos y condiciones?: </label>
    <nb-checkbox formControlName="terms" status="danger">¿Acaso tengo elección?</nb-checkbox>
  </div>
</section>
